/* trelloTest.css */
body{
    background-color: rgb(116, 228, 131);
}
.fill{
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px rgb(116, 228, 131);
    background-color: white;
}

.hold{
    border: solid lightgrey 4px;
}
.hovered{
    background: darkgrey;
    border-style: dashed;
}

.invisible{
    display: none;
}